<div class="pokedex-container">
  <div *ngFor="let pokemon of pokemons | paginate: {itemsPerPage: 10, currentPage: page, totalItems: totalPokemons}; let i = index">
    <app-pokemon-box
      [index]="i"
      [img]="pokemon.sprites.other['official-artwork'].front_default"
      [name]="pokemon.name"
      [types]="pokemon.types">
    </app-pokemon-box>
<!--    [height]="pokemon.height"-->
<!--    [health]="pokemon.stats[0].base_stat"-->
<!--    [atkPower]="pokemon.stats[1].base_stat"-->
  </div>
</div>

<pagination-controls (pageChange)="page = $event; pokemons = []; getPokemons()"></pagination-controls>

