<div class="pokedex-container">
  <div *ngIf="!fetching" class="pokedex-pokemon-container">
    <div *ngFor="let pokemon of pokemons | paginate: {itemsPerPage: 12, currentPage: page, totalItems: totalPokemons}">
      <app-pokemon-box
        [id]="pokemon.id"
        [img]="pokemon.img"
        [name]="pokemon.name"
        [types]="pokemon.types">
      </app-pokemon-box>
      <!--    [height]="pokemon.height"-->
      <!--    [health]="pokemon.stats[0].base_stat"-->
      <!--    [atkPower]="pokemon.stats[1].base_stat"-->
    </div>
  </div>


  <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
</div>
