.app-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  padding: 16px;
  gap: 48px;
}

.app-header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
}

.app-header img {
  height: 75px;
}

.app-sidenav {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  display: flex;
  flex-direction: column;
  gap: 16px;

  font-size: 24px;
  font-weight: bold;
}

.app-main {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
}

.app-footer {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  justify-self: center;
  font-size: 18px;

  background-color: yellow;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: #013f8c;
}
