<ion-content>
  <div class="app-container">
    <header class="app-header">
      <a href="/">
        <img src="assets/img/img1-removebg-preview.png">
      </a>
    </header>

    <nav class="app-sidenav">
      <a [routerLink]="['/pokedex']" routerLinkActive="active">Pokedex</a>
      <a [routerLink]="['/items']" routerLinkActive="active">Items</a>
      <a [routerLink]="['/moves']" routerLinkActive="active">Moves (SOON)</a>
      <a [routerLink]="['/abilities']" routerLinkActive="active">Abilities (SOON)</a>
      <a [routerLink]="['/locations']" routerLinkActive="active">Locations (SOON)</a>
      <a [routerLink]="['/type-charts']" routerLinkActive="active">Type Charts (SOON)</a>
    </nav>

    <main class="app-main">
      <router-outlet></router-outlet>
    </main>

    <footer class="app-footer">
      © 2024 lange-dev
    </footer>
  </div>
</ion-content>
