/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", serif;
}

body {
  background-color: #d2d2d2;
}

html, body {
  height: 100%;
}

.pokemon-detail-dialog-container .mat-dialog-container {
  padding: 0;
  margin: 0;
  border-radius: 15px;
}

.item-detail-dialog-container .mat-dialog-container {
  padding: 0;
  margin: 0;
  border-radius: 15px;
}
